body {
    padding: 0 10px;
    margin: 0;
    background-color: #E7E7E7;
    color: #000;
    font-family: 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    font-size: 12px;
    min-width: 780px;
    margin: auto;
}

/*input, select {
    font-size: 12px;
}*/

a { color:#002BBA; text-decoration: none; }
a:visited { color:#632D9B; }
a:hover { color:#FC6714; text-decoration: underline; }
a:active, a:focus { outline-style: none; }

a.icon:hover { text-decoration: none; }

a>img { border: 0; }

/* TODO:
** When we start using relative links for internal links, add:
** a[href^="http://"], a[href^="https://"], */
a.external {
    background: url('../images/icons/external.png') no-repeat right;
    padding-right: 13px;
}

a.internal {
    background: none;
    padding-right: 0;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
}

h1 a { color: #000 !important; }

h2,
fieldset legend {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 120%;
    color: #FC6714;
    font-weight: bold;
}

#sidebar h2, .sidebar h2 {
    font-size: 100%;
    margin-left: -5px;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: bold;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style-image: url('../images/icons/bullet.gif');
    list-style-type: square;
}

ol {
    margin-left: 0;
    padding-left: 40px;
}

ul ul, ul ol,
ol ol, ol ul {
    padding-left: 20px;
}

ul.inline {
    padding-left: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}

/* See http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* width: 99%; */
    word-wrap: break-word;
}

/*
** Header
*/
#header {
    width: 100%;
}

#header img.gravatar { display: none; }

img.gravatar {
    display: inline;
    max-height: 1em;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 1px;
    background: #fff;
    margin-right: 0.35em;
}

h1 img.gravatar {
    max-height: 3em;
}

#header-logo {
    background: #736DAB url('../images/layout/sprites.png') no-repeat top left;
    height: 58px;
    color: #FFF;
}

#header-logo div {
    position: relative;
    top: 17px;
    float: right;
    padding-right: 1em;
}

#header-logo div.git-branch {
    position: absolute;
    top: 2px;
    right: 18px;
    color: #DDD;
}

#header-logo #headerid-query {
    width: 18em;
}

#header-logo #id-type {
    margin-right: 4px;
    margin-left: 10px;
    padding: 2px;
}

#header-logo a {
    color: #FFF;
}

#header-logo a.logo {
    display: block;
    height: 58px;
    width: 483px;
    position: absolute;
}

#header-logo a.logo strong {
    position: absolute;
    left: -10000px;
}

#header-menu {
    background: #FFBA58;
    position: relative;
    font-size: 95%;
    font-weight: bold;
    z-index: 9;
}

#header-menu div {
    padding: 0 1em;
    overflow: hidden;
}

#header-menu div.l, #header-menu div.r {
    position: absolute;
    display: block;
    padding: 0;
    width: 6px;
    height: 8px;
}

#header-menu div.r {
    bottom: 0; right: 0;
    background: url('../images/layout/sprites.png') -7px -58px;
}

#header-menu div.l {
    bottom: 0; left: 0;
    background: url('../images/layout/sprites.png') -0px -58px;
}

#header-menu ul.r {
    float: right;
}

#header-menu form {
    padding: 4px 0;
    margin: 0;
    vertical-align: middle;
}

#header-menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
}

#header-menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

#header-menu ul a {
    color: #333;
    display: block;
    padding: 0.4em 0.5em;
    height: 100%;
    text-decoration: none;
}

#header-menu ul li:hover a,
#header-menu ul li:hover li a:hover,
#header-menu ul a:hover {
    background-color: #FC6714;
    color: #FFF;
}

#header-menu ul li li a {
    height: auto;
}

#header-menu ul li:hover li a {
    background-color: #D4D4D4;
    color: #000;
}

#header-menu li ul {
    position: absolute;
    left: -10000px;
    z-index: 9;
}

#header-menu li ul li {
    text-align: left;
    float: none;
    font-weight: normal;
    margin: 0;
    background-color: #D4D4D4;
}

#header-menu .separator {
    border-top: 1px dotted;
}

/*
** Main content
*/
#page,
#current-editing {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    padding: 16px;
    background: #FFF url('../images/layout/page-bg.gif') repeat-y top right;
    overflow: visible;
    position: relative;
}

#page.fullwidth,
#page.homepage,
#current-editing {
    background-image: none;
}

#current-editing h2 {
    margin-top: 0; /* Remove the space above the merge-helper H2 */
}

.bl, .br, .tl, .tr {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
}

.tr {
    top: 0; right: 0;
    background: url('../images/layout/sprites.png') -14px -58px;
}

.tl {
    top: 0; left: 0;
    background: url('../images/layout/sprites.png') -23px -58px;
}

.br {
    bottom: 0; right: 0;
    background: url('../images/layout/sprites.png') -32px -58px;
}

.bl {
    bottom: 0; left: 0;
    background: url('../images/layout/sprites.png') -41px -58px;
}

.warning-header,
.flash,
.server-details {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    padding: 10px;
    border: 0;
    color: #FC6714;
    position: relative;
}

.flash {
    color: #000;
    font-weight: normal;
}

.flash p,
.server-details p,
.warning-header p {
    margin: 0;
}

.warning-header {
    color: #000;
}

div.notice,
div.warning {
    margin: 2em auto;
    border: 1px solid #a1a1a1;
    min-height: 54px;
    width: 60em;
    background: #ffffd0;
}

div.warning p,
div.notice p { margin: 1em; }

#release-editor div.changes div.notice { margin: 2em auto 0 auto; }

div.warning img.warning {
    float: left;
    margin: 12px 10px 8px 10px;
    width: 32px;
    height: 32px;
}

#content {
    margin-right: 250px;
}

#page.fullwidth #content {
    margin-right: 0px;
}

#sidebar {
    float: right;
    width: 218px;
    font-size: 95%;
}

#page.homepage .sidebar {
    float: right;
    font-size: 95%;
    width: auto;
}

#page.homepage #sidebar {
    margin-left: 2.5em;
}

#page.homepage .sidebar div:after {
    visibility: hidden;
    content: '&nbsp';
    clear: both;
}

#sidebar p {
    margin-top: 0;
}

#sidebar ul.links {
    margin: 0;
    padding-left: 1.5em;
}

#sidebar ul.links hr {
    padding: 0;
    margin: 3px;
    height: 1px;
    width: 75%;
    border: 0;
    color: #D3D3D3;
    background-color: #D3D3D3;
}

#sidebar ul.external_links {
    margin: 5px 0;
    padding-left: 0;
}

#sidebar ul.external_links {
    list-style-image: none;
    list-style-type: none;
}

#sidebar ul.external_links li {
    background: url("../images/favicons/external-16.png") 0 2px no-repeat;
    margin-bottom: 2px;
    padding: 4px 0 0 22px;
    min-height: 14px;
}

#sidebar ul.external_links li.all-relationships {
    background-image: none;
}

#sidebar ul.external_links li.home {
    background-image: url("../images/favicons/home-16.png");
}

#sidebar ul.external_links li.allmusic {
    background-image: url("../images/favicons/allmusic-16.png");
}

#sidebar ul.external_links li.amazon {
    background-image: url("../images/favicons/amazon-16.png");
}

#sidebar ul.external_links li.wikipedia {
    background-image: url("../images/favicons/wikipedia-16.png");
}

#sidebar ul.external_links li.facebook {
    background-image: url("../images/favicons/facebook-16.png");
}

#sidebar ul.external_links li.lastfm {
    background-image: url("../images/favicons/lastfm-16.png");
}

#sidebar ul.external_links li.myspace {
    background-image: url("../images/favicons/myspace-16.png");
}

#sidebar ul.external_links li.twitter {
    background-image: url("../images/favicons/twitter-16.png");
}

#sidebar ul.external_links li.youtube {
    background-image: url("../images/favicons/youtube-16.png");
}

#sidebar ul.external_links li.discogs {
    background-image: url("../images/favicons/discogs-16.png");
}

#sidebar ul.external_links li.secondhandsongs {
    background-image: url("../images/favicons/secondhandsongs-16.png");
}

#sidebar ul.external_links li.songfacts {
    background-image: url("../images/favicons/songfacts-16.png");
}

#sidebar ul.external_links li.soundcloud {
    background-image: url("../images/favicons/soundcloud-16.png");
}

#sidebar ul.external_links li.ibdb {
    background-image: url("../images/favicons/ibdb-16.png");
}

#sidebar ul.external_links li.imslp {
    background-image: url("../images/favicons/imslp-16.png");
}

#sidebar ul.external_links li.ESTERTallinn {
    background-image: url("../images/favicons/ESTERTallinn-16.png");
}

#sidebar ul.external_links li.ESTERTartu {
    background-image: url("../images/favicons/ESTERTartu-16.png");
}

#sidebar ul.external_links li.worldcat {
    background-image: url("../images/favicons/worldcat-16.png");
}

#sidebar ul.external_links li.fortyfivecat {
    background-image: url("../images/favicons/45cat-16.png");
}

#sidebar ul.external_links li.rateyourmusic {
    background-image: url("../images/favicons/rateyourmusic-16.png");
}

#sidebar ul.external_links li.rolldabeats {
    background-image: url("../images/favicons/rolldabeats-16.png");
}

#sidebar ul.external_links li.psydb {
    background-image: url("../images/favicons/psydb-16.png");
}

#sidebar ul.external_links li.metalarchives {
    background-image: url("../images/favicons/metalarchives-16.png");
}

#sidebar ul.external_links li.spiritofmetal {
    background-image: url("../images/favicons/spiritofmetal-16.png");
}

#sidebar ul.external_links li.theatricalia {
    background-image: url("../images/favicons/theatricalia-16.png");
}

#sidebar ul.external_links li.ocremix {
    background-image: url("../images/favicons/ocremix-16.png");
}

#sidebar ul.external_links li.musiksammler {
    background-image: url("../images/favicons/sammler-16.png");
}

#sidebar ul.external_links li.encyclopedisque {
    background-image: url("../images/favicons/encyclopedisque-16.png");
}

#sidebar ul.external_links li.trove {
    background-image: url("../images/favicons/trove-16.png");
}

#sidebar ul.external_links li.ric {
    background-image: url("../images/favicons/ric-16.png");
}

#sidebar ul.external_links li.googleplus {
    background-image: url("../images/favicons/googleplus-16.png");
}

#sidebar ul.external_links li.dhhu {
    background-image: url("../images/favicons/dhhu-16.png");
}

#sidebar ul.external_links li.thesession {
    background-image: url("../images/favicons/thesession-16.png");
}

#sidebar ul.external_links li.lieder {
    background-image: url("../images/favicons/lieder-16.png");
}

#sidebar ul.external_links li.openlibrary {
    background-image: url("../images/favicons/openlibrary-16.png");
}

#sidebar ul.external_links li.viaf {
    background-image: url("../images/favicons/viaf-16.png");
}

#sidebar .cover-art {
    text-align: center;
}

#sidebar .cover-art img {
    max-height: 300px;
    max-width: 218px; /* references #sidebar's width */
}

/*
** Footer
*/
#footer {
    height: 1em;
    margin: 1em 0;
    padding: 0 1em;
    font-size: 90%;
    color: #444444;
}

#footer a { color: #002BBA; }
#footer a:hover { color: #FC6714; }

#footer p {
    display: inline-block;
    margin: 0;
}

#footer p.left {
    float: left;
    margin: 0;
}

#footer p.right {
    float: right;
}

/*
** Misc
*/
.clear { clear: both; }

.c, table.tbl .c { text-align: center; }

.noborder { border: none !important; }

.nowrap { white-space: nowrap; } /* Used to keep "action links" on one line, e.g. [ Update | Remove ] */

.tooltip { border-bottom: 1px dotted; } /* Useful when adding title attributes to elements */

table.tbl tr.mp td,
span.mp,
div.mp,
tr.diff-changes {
    background: #FD9 !important;
}

.lastupdate,
.annotation-details,
.small {
    font-size: 90%;
    color: #777;
    font-style: italic;
}

.lastupdate {
    padding-top: 1em;
    margin-left: -5px;
}

/* The release information table */
table.tbl {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl th {
    font-size: 95%;
    background: url('../images/layout/table-header.gif') repeat-x 0 50%;
    padding: 0.2em 0.4em;
    text-align: left;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #CCCCCC;
}

table.tbl thead tr .header {
    cursor: pointer;
}

table.tbl thead tr .header .arrow {
    background: url('../images/layout/bg.gif') no-repeat center right;
    display: inline-block;
    height: 9px;
    width: 21px;
}

table.tbl thead tr .headerSortUp .arrow {
    background-image: url('../images/layout/asc.gif');
}

table.tbl thead tr .headerSortDown .arrow {
    background-image: url('../images/layout/desc.gif');
}

table.details table.tbl {
    margin-top: 0;
}

table.details table.tbl th {
    /* Override the table.details declarations
    /* inside an edit details template */
    padding: 0.2em 0.4em;
    text-align: left;
    width: auto;
}

.deleted { color: #999999; }

table.tbl tr.subh td,
table.tbl tr.subh th {
    font-size: 95%;
    background: url('../images/layout/table-header-2.gif') repeat-x 0 50%;
    font-weight: bold;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl tbody th {
    border-right: 1px solid #999999;
    background: none;
}

table.tbl tbody th:last-child { border-right: 0; }

table.tbl th a {
    color: #000;
}

table.tbl th:first-child {
    border-left: none;
}

table.tbl td {
    padding: 0.2em 0.4em;
}

table.tbl tr.ev td,
table.tbl tr.ev th {
    padding: 0.2em 0.4em;
    background: #F2F2F2;
}

table.tbl .pos { width: 1em; white-space: nowrap; }
table.tbl th { word-break: keep-all; white-space: nowrap; }

table.tbl .year { width: 4em; }
table.tbl .count { width: 2em; }
table.tbl .rating { width: 50px; }
table.tbl .treleases { width: 3em; }
table.tbl .t { text-align: right; }

table.tbl ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Paginator */
.pageselector a, .pageselector span {
    font-size: 90%;
    padding: 0.05em 0.4em;
}

.pageselector a {
    border: solid 1px #000;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}

.pageselector a:hover {
    background-color: #FFBA58;
}

.pageselector a.sel {
    background-color: #FFBA58;
    font-weight: bold;
}

.pageselector span {
    border: solid 1px #999999;
    background-color: #EEEEEE;
    color: #999999;
}

.pageselector em {
    font-style: normal;
    margin-left: 0.5em;
}

.pageselector + .tbl {
    margin-top: 0px !important;
}

.pageselector-results {
    margin-bottom: 0;
}

/* Browse Entity pages */
.browse-entities {
    margin-top: 1em;
}

.browse-entities ol {
    margin: 0;
}

.browse {
    margin-top: 0.5em;
}

.browse td {
    text-align: center;
    padding: 2px;
}

.browse td.char {
    width: 0.7em;
}

/* Entity details & edit details */
table.details th {
    text-align: right;
    padding-left: 10pt;
    width: 160px;
    vertical-align: top;
}

table.details td span.new,
table.details td.new {
    background: #E8F7E8;
}

div.diff .diff-only-b,
span.diff-only-b,
tr.diff-addition {
    background: #B1EBB0;
}

table.details td span.old,
table.details td.old {
    background: #F7E8E8;
}

div.diff .diff-only-a,
span.diff-only-a,
tr.diff-removal {
    background: #EBB1BA;
}

table.details td span.new,
table.details td span.old,
table.details td.new,
table.details td.old {
    border: 1px solid #CCC;
}

/* Statistics pages */
table.timeline-controls, table.database-statistics {
    border-collapse: collapse;
    border: 1px solid #ADB9CC;
    margin: 1em 1em 1em 0;
}

table.database-statistics {
    white-space: nowrap;
}

table.database-statistics th, table.timeline-controls th {
    text-align: left;
    padding: 3px 5px;
}

table.database-statistics tr.thead th {
    text-align: center;
    border: 1px solid #ADB9CC;
    background: #F1F1F1;
}

table.database-statistics td, table.timeline-controls td {
    text-align: right;
    padding: 3px 5px 3px 10px;
}

table.timeline-controls td {
    border: 1px solid #ADB9CC;
}


/* Sidebar properties */
dl.properties {
    margin: 0;
}

dl.properties dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 2pt;
}

dl.properties dd,
dl.properties dt {
    line-height: 175%;
}

/* Search Plugins */
dl.search-plugins dt {
    font-weight: bold;
}

dl.search-plugins dt,
dl.search-plugins dd {
    line-height: 200%;
}

div.searchform input#id-query { width: 30em }

/* CSS columns (instead of using tables) */
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}

.nagpanel {
    background-color: #FAFAFA;
    border: 2px dashed #736DAB;
    padding: 0 1em;
    margin: 1em 0;
}

.nagpanel .naglinkpanel { text-align: center; }
.nagpanel .naglink { font-size: 200%; }

p.cleanup {
    text-align: center;
    background: #FD9 !important;
    padding: 1em;
}

.iswc { white-space: nowrap; }

/*
  Cover Art
  ================================================
*/

div.artwork-cont {
    border-radius: 2px;
    background: #eee;
    border: 1px solid #e0e0e0;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

div.artwork { position: relative; width: 250px; }
/* don't include 'div' since this should apply to 'p' as well */
.artwork img { max-width: 250px; max-height: 250px; }

.homepage div.artwork-cont {
    width: 125px;
    height: 125px;
    position: relative;
    vertical-align: middle;
}
.homepage div.artwork {
    width: 125px;
    height: 125px;
    display: table-cell;
    vertical-align: middle;
}
.homepage div.artwork img {
    max-width: 125px;
    max-height: 125px;
}

div.delete { display: hidden !important; }

.annotation-toggle {
    display: block;
}

.annotation-body {
    position: relative;
    overflow: auto;
}

.annotation-collapsed {
    max-height: 100px;
    overflow: hidden;
}

.annotation-collapsed:after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    content: "  ";
    height: 20px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.annotation-collapse {
    max-height: none;
}

span.release-group-type {
    background: #589DFF;
    color: #fff;
    border-radius: 3px;
    padding: 0 3px;
}

a.tagger-icon {
    background: url('../images/icons/mblookup-tagger.png') no-repeat;
    width: 41px;
    height: 16px;
}

.actions-header {
    min-width: 10em;
}
