<table class="details reorder-mediums">
  [% UNLESS edit.preview %]
  <tr>
    <th>[% l('Release:') %]</th>
    <td colspan="2">
      [% descriptive_link(edit.display_data.release) %]
    </td>
  </tr>
  [% END %]

  [%- FOR medium_edit = edit.display_data.mediums -%]
  [%- display_heading = 1 -%]
  [%- IF medium_edit.old != medium_edit.new -%]
  <tr>
    <th>
      [%- IF display_heading -%]
        [%- l('Mediums:') -%]
        [%- display_heading = 0 -%]
      [%- END -%]
    </th>
    <td>
      [%- IF medium_edit.title && medium_edit.old == 'new' -%]
        [%- l('Disc <span class="new">{new}</span>: {title} (new disc)',
              new => medium_edit.new, title => medium_edit.title) -%]
      [%- ELSIF medium_edit.title -%]
        [%- l('Disc <span class="new">{new}</span>: {title} (moved from position <span class="old">{old}</span>)',
              new => medium_edit.new, title => medium_edit.title, , old => medium_edit.old) -%]
      [%- ELSIF medium_edit.old == 'new' -%]
        [%- l('Disc <span class="new">{new}</span> (new disc)',
              new => medium_edit.new) -%]
      [%- ELSE -%]
        [%- l('Disc <span class="new">{new}</span> (moved from position <span class="old">{old}</span>)',
              new => medium_edit.new, old => medium_edit.old) -%]
      [%- END -%]
    </td>
  </tr>
  [%- END -%]
  [% END %]

</table>
